
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    width: 100%;
    height: 50px;
    background-color: antiquewhite;
}

img {
    width: auto;
    padding: 10px;
}

.logo-img {
    float:left
}

ul li {
    float: left;
    display: inline-block;
}

li {
    padding: 5px 3px;
}


.list-second {
    float: right;
}

.button {
    float: right;
    border: 1px solid black;
    background-color: blue;
}

.clearfix::after {
    float: right;
}


section {
    width: 80%;
    margin: auto;
}

h1 {
    padding: 1.5em 2em 1em;
    text-align: left;
    font-size: 3em;
}
.col-text {
    width: 30%;
}

.p-first {
    font-size: 1.1em;
    padding-left: 5em;
}


.col-img {
    width: 70%;
}

.section-first {
    background-color: aqua;
}

.section-second {
    background-color: aquamarine;
}

.section-third {
    background-color: beige;
}

.section-fourth {
    background-color: bisque;
}

footer {
    width: 80%;
    height: 500px;
    margin: auto;
}

.footer-top {
    background-color: blueviolet;
    height: 150px;
}

.footer-bottom {
    background-color: brown;
    height: 350px;
}
