
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: white;
}


.logo {
    width: 10%;
    padding: 10px;
}

ul li {
    float: left;
    display: inline-block;
    padding: 1em;
}

ul li a {
    color: black;
}

.list-second {
    float: right;
}

.clearfix::after {
    float: right;
}

.button {
    background-color: rgb(33, 33, 248);
    color: white;
    padding: 0 1em;
    margin-top: 1em;
}

.button-1 {
    background-color: rgb(33, 33, 248);
    color: white;
    padding: 0.6em 1em;
    margin-top: 1em;
}

.list-first a:hover {
    border-bottom: 2px solid black;
}

.list-second a:hover {
    border-bottom: 2px solid black;
}


section {
    width: 100%;
}

.section-first {
    background-color: rgb(176, 205, 212);
    height: 500px;
    padding: 0 calc(100%/7);
}

h1 {
    padding: 1.5em 0em 1em;
    text-align: left;
    font-size: 2.5em;
}
.col-text {
    width: 30%;
    float: left;
}

.p-first {
    font-size: 1em;;
}


.col-img {
    width: 70%;
    float: right;
}

.col-img img {
    width: 100%;
    margin-top: -5px;
}

.btn {
    display: inline-block;
    text-align: center;
    font-size: 1.1em;
    padding: 0.5em 1em;
}

.down-arrow {
    font-size: 2.5em;
    padding: 4em 0;
}


.section-second {
    width: 80%;
    height: 1000px;
    margin: 10% 10%;
}

.container-price {
    width: 80%;
    margin: auto;
}

.mensile {
    min-width: 30%;
    height: 40px;
}

.option-payment::after {
    content="";
    display: table;
    clear: both;
}

.option-payment {
    margin: 2em 0;
}

.mensile .annuale {
    float:left
}

.item {
    padding: .5em 0;
    text-align: center;
}

.large {
    width: 100%;
}

h2 {
    font-size: 1.5em;
}

.prof, .price, .month, .buy {
    margin: 1em
}

.cond, .shop {
    margin-left: 1em;
}

.col-first {
    width: calc(100%/3 - 1em);
    min-height: 750px;
    border: 1px solid black;
    float: left;
}

.small {
    width: 20%;
    margin-left: 1em;
}

.main-points {
    margin-top: 1em;
    margin-left: 1em;
}

/*.clearfix::after {
    content: "";
    display: table;
    clear: both;
}*/

.col-second {
    width: calc(100%/3 - 1em);
    min-height: 750px;
    border: 1px solid black;
    float: left;
    margin-left: 1.5em;
}

.buy {
    text-decoration: none;
    color: white;
}

.buy1 {
    color: black;
}

.col-third {
    width: calc(100%/3 - 1em);
    min-height: 750px;
    border: 1px solid black;
    float: left;
    margin-left: 1.5em;
}

.enterprise-section {
    content: "";
    display: table;
    clear: both;
}

.col-enterprise: {
    width: 100%;
    border: 1px solid black;
    float: left;
}

.title-enterprise::after {
    float: left;
}

.col-ent1 {
    width: 65%;
    height: 200px;
    padding: 1em;
    float: left;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
.team {
    text-align: center;
    border: 1px solid black;
    padding: 0.5em;
    margin-top: 1em;
 }

.col-ent2 {
    width: 35%;
    height: 200px;
    padding: 1em;
    float: left;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.button-3 {
    background-color: rgb(33, 33, 248);
    color: white;
    padding: 1em;
    margin: 2em;
}
 
.section-third {
    width: calc((100%/5*4)/5*4);
    height: 300px;
    margin: 250px auto 100px;
}

img {
    width: 80%;
}

.box-partner:after {
    content: "";
    display: table;
    clear: both;
}

.fl {
    width: 50%;
    float: left;
}

.text-partner {
    width: 45%;
    margin: auto;
    float: right;
}

.partner-button {
    background-color: rgb(33, 33, 248); 
    color: white;
    padding: 1em;
    margin: 1em 8em;
    text-align: center;
}

.section-fourth {
    width: calc((100%/5*4)/5*4);
    margin: auto;
}

img {
    width: 80%;
}

.table-fourth1 {
    content: "";
    display: table;
    clear: both;
}

.img-text1 {
    width: calc(100%/3 - 30px);
    margin-top: 30;
    margin-left: 18px;
    float: left;
}

.section-fifth { 
    width: calc((100%/5*4)/5*4);
    margin: 100px auto;  
}

.box-scopri a{
    color: #0061ff;
}

.section-sixth {
    width: 100%;
    height: 360px;
}

.section-sixth::after{
    content: " ";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
    color: white;
}

.h-100{
    height: 100%;
}

.client-col-left{
    width: 400px;
}

.designit{
    background-color: #a2d39b;
}

.arizona{
    background-color: #61082b;
}

.florida{
    background-color:#0093ce;
}

.topps{
    background-color: #ff1c1c;
}

.bicyclerelief{
    background-color: #d5001f;
}

.hearst{
    background-color: #b4d0e7;
}

.lonelyplanet{
    background-color: #0d2481;
}

.clearchannel{
    background-color: #ffd830;
}

.designit, .arizona, .florida, .topps, .bicyclerelief, .hearst, .lonelyplanet, .clearchannel{
    width: 200px;
	height: 180px;  
    position: relative;
}

.client-img img{
    padding: 30px;
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.client-colcentral{
    width: 719px;
    height: 360px;
    background-color: #f5f5f5;
}

.logo-designit{
    width: 200px;
    padding: 40px;
}

.client-colcentral img{
    filter: none;
}

.client-colcentral p{
    padding: 0 20px;
}

.client-colright{
    width: 400px;
    height: 360px;
}

.section-seventh::after {
    content:"";
    display: table;
    clear: both;
}

.container-seventh{
    background-color: rgb(176, 205, 212);
    width: 50%;
    height: 300px;
    float: left;

}

.title-seventh {
    padding-top: 18%;
    padding-right: -2em;
    padding-bottom: 20%;
    padding-left: 35%;
    text-align: left;
}

.container-seventh1 {
    background-color: rgb(176, 205, 212);
    width: 50%;
    height: 300px;
    float: left;
}

.button-2 {
    width: 30%;
    background-color: white;
    margin-top: 18%;
    margin-left: 40%;
    padding: 1em;
    text-align: center;
}

.section-eight {
    width: calc((100%/5*4)/5*4);
    height: 400px;
    margin: auto;
}

.faq {
    margin: 2em;
}

ol li {
    list-style: none;
}

footer {
    background-color: black;
    color: white;
}

.container-footer {
    width: 80%;
    margin: auto;
    height: 600px;
}

.container-footer::after {
    content: "";
    display: table;
    clear: both;
}

.container-footer-first, .container-footer-second, .container-footer-third, .container-footer-fourth, .container-footer-fifth {
    margin: 1.8em;
    float: left;
}

.last-title {
    margin: 1em;
}

ol li {
    list-style: none;
    margin: 0 1em;
}